.container {
  background-color: white;
  width: 100%;
  box-shadow: 0 5px 10px #00000040;
}
.clear {
  content: "";
  display: table;
  clear: both;
}

h1 {
  float: left;
  padding: 0px 75px;
}
ul {
  float: right;
  list-style-type: none;
  padding: 0px 55px;
}
ul li {
  float: left;
  margin: 5px 15px;
  padding: 7px 17px;
  border-radius: 8px;
  border: 1px solid;
}
